h1 {
	font-size: 2rem;
	line-height: 1.25;
}

h2 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.25rem;
	}
}